<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jQuery-3-6-1.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>
    <title>로그인</title>
</head>
<body>
<div class="container">
    <form class="form-control" method="post" action="/member/login" >
        <div class="row">
            <div class="col-md-6">
                <fieldset>
                    <legend class="text-center">로그인</legend>
                    <!-- 이메일,이름,전화번호,비밃번호 프로필사진 -->
                    <div class="form-group">
                        <label for="ipt-email"><span class="small">* </span> 이메일 <span class="req"
                                                                                       style="font-size: small"
                                                                                       id="emailNotice"></span></label>
                        <input class="form-control" required type="text" name="memberEmail" id="ipt-email"
                               maxlength="30" onblur="email_validate(this.value)"/>
                    </div>
                    <div class="form-group">
                        <label for="ipt-pw"><span class="small">* </span> 비밀번호 <span class="req"
                                                                                     style="font-size: small"
                                                                                     id="pwNotice"></span></label>
                        <input required name="memberPassword" id="ipt-pw" type="password" class="form-control inputpass"
                               onblur="checkPassword(this.value)" minlength="6" maxlength="20"
                               placeholder="영문대소문자,특수기호 포함 6-20자"/>
                    </div>

                    <div class="form-group" style="margin-top: 20px">
                        <input class="btn btn-dark" type="button" name="btn-close" value="닫기">
                        <!--<input class="btn btn-success" type="submit" name="btn-reg" id="btn-reg" value="회원가입"
                               onclick="registerMember()">-->
                        <input class="btn btn-success" type="submit" name="btn-reg" id="btn-reg" value="로그인">
                    </div>
                </fieldset>
            </div><!-- ends col-6 -->
        </div>
    </form><!-- ends register form -->
</div>
</body>
<script>
    const email_validate = (email) => {
        const emailNotice = $('#emailNotice');
        const emailRegex = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}(.[a-zA-Z]{2,3})?$/u;
        if (email == "") {
            emailNotice.css('font-color', 'red');
            emailNotice.html('이메일 주소는 필수입력입니다')
            return;
        }
        if (!emailRegex.test(email)) {
            emailNotice.css('color', 'red');
            emailNotice.html('이메일 주소형식에 어긋납니다')
            $('#ipt-email').focus();
            return;
        }
        // /check-duplicatedemail/{email}
        axios({
            method: "get",
            url: "/member/check-duplicatedemail/" + email,
        }).then(res => {
            emailNotice.css('color', 'green');
            emailNotice.html('사용가능한 이메일입니다.')
        }).catch(err => {
            emailNotice.css('color', 'red');
            emailNotice.html('중복된 이메일입니다.')
        })
    }

    const checkPassword = (pw) => {
        const pwTag = $('#ipt-pw');
        const pwNotice = $('#pwNotice');

        if (pw == "") {
            pwNotice.css('color', 'red');
            pwNotice.html('비밀번호는 필수입력입니다.');
            return;
        }

        const pwRegex = /^[A-Za-z\d\[\]\{\}\/\(\)\.\?\<\>!@#$%^&*=+-]{6,20}$/;
        if (!pwRegex.test(pw)) {
            pwNotice.css('color', 'red');
            pwNotice.html('비밀번호는 영문대,소문자,숫자,특수기호 조합으로 6-20자 입니다.');
            pwTag.val('');
        } else {
            pwNotice.css('color', 'white');
            pwNotice.html('');
        }
    }
</script>
</html>